
@import 'themes/light.css';

body {
    min-width: 300px;
    transition: background-color 0.3s ease;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.icon-spacing {
    margin-right: 10px; /* Ajuste este valor conforme necessário */
}

#classifyTweets {
    width: 100%;
    margin: 0;
}

.center {
    text-align: center;
}

ul {
    text-align: left;
}

classification-btn{
    border: none;
    padding: 5px;
    position: relative;
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 9999;
    border-bottom: 1px dotted lightsteelblue;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: lightsteelblue;
color: #000;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 9999;
top: 150%;
left: 50%;
margin-left: -60px;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
z-index: 9999;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent lightsteelblue transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}
#dropdown {
    position: relative;
    display: inline-block;
}

#dropbtn {
    border: none;
    padding: 5px;
    border-radius: 15%;
}

#highlightButton {
    background-color: #EDF2F9;
    border: none;
    display: none;
}
